<!--
	Using jinja to render card of item on display
	on home page.
 -->

{% for item in items_list %}

	<div class="card">
		
		<div class="card-poster" data-id={{item.movieId}}>
			<img class="card-poster-img" src={{item.poster}} >
			<div class="feedback-cover flex-center">
				
				<div>
					<button class="feedback-btn like-btn">
						<span class="material-icons">
							thumb_up
						</span>
					</button>
					<button class="feedback-btn dislike-btn">
						<span class="material-icons">
							thumb_down
						</span>
					</button>
				</div>
					
			</div>
		</div>

		<div class="card-title flex-center">
			<div>
				<div>{{item.title}}</div>
				<div>{{item.genre}}</div>
			</div>	
		</div>

	</div>

{% endfor %}
<script type="text/javascript">
	
	function send_feedback(movie_id,feedback_type){

		$.ajax({
			cache:false,
			method:"POST",
			data:{
				'id':movie_id,
				'feedback':feedback_type
			},
			url:'/feedback',
			error:function(error,xhr,status) {
					return false
			}
		}).done(function(data){
			console.log(data);
		});

	}

	function btn_click(btn,feedback_type){

		var parent = $(btn).parents('.card-poster');
		let movie_id = $(parent).attr('data-id');
		send_feedback(movie_id,feedback_type)
	}

	$('.like-btn').click(function(){
		
		// For like send 1.0 as feedback
		btn_click( this , 1.0);	
		
	});


	$('.dislike-btn').click(function(){
		
		// For dislike send 0.0 as feedback
		btn_click( this , 0.0);	
		
	});

</script>
